body {
  background-color: ivory;
  font-family: "Source Serif Pro", serif;
  text-align: center;
}
form {
  background-color: beige;
  border-radius: 1em;
  display: inline-block;
  margin: 20px;
  padding: 1em;
  width: 20%;
}
h1 {
  color: steelblue;
  text-align: center;
}
label {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
input {
  border-radius: 4px;
  color: rgb(54, 55, 59);
  display: block;
  margin: 5px auto;
  width: 100%;
}
button {
  background-color: steelblue;
  border: outset;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: block;
  margin: 5px auto;
  margin-top: 20px;
  padding: 10px;
  transition: background-color 0.5s ease-in;
}

button:focus,
button:hover {
  background-color: rgb(38, 118, 184);
}

table {
  background-color: beige;
  color: rgb(54, 55, 59);
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

td {
  padding: 2px 8px;
}

thead tr {
  background-color: rgb(106, 172, 235);
  color: beige;
  font-size: 1.2em;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

p {
  color: steelblue;
  font-size: 1.5em;
  text-align: center;
}
