body {
  background-color: ivory;
  font-family: "Source Serif Pro", serif;
}
form {
  background-color: beige;
  border: 1px maroon;
  border-radius: 1em;
  color: maroon;
  float: left;
  margin: 5vmin auto;
  margin-left: 10%;
  padding: 1em;
  width: 250px;
}
h1 {
  color: steelblue;
  text-align: center;
}
label {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
input {
  border-radius: 4px;
  display: block;
  margin: 5px auto;
}
button {
  background-color: steelblue;
  border: outset;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: block;
  margin: 5px auto;
  margin-top: 20px;
  padding: 10px;
  transition: background-color 0.5s ease-in;
}

button:focus,
button:hover {
  background-color: rgb(38, 118, 184);
}
